services:
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=mydatabase'
      - 'MYSQL_PASSWORD=secret'
      - 'MYSQL_ROOT_PASSWORD=verysecret'
      - 'MYSQL_USER=myuser'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - 3306:3306
    networks:
      - private

  app:
    build: .
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - 8080:8080
    networks:
      - private

networks:
  private:
    driver: bridge