services:
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=mydatabase'
      - 'MYSQL_PASSWORD=secret'
      - 'MYSQL_ROOT_PASSWORD=verysecret'
      - 'MYSQL_USER=myuser'
    ports:
      - '3306'
    networks:
      - private

  app:
    build: .
    depends_on:
      - mysql
    ports:
      - 8080:8080
    networks:
      - private

networks:
  private:
    driver: bridge